<%- include('../layouts/adminHeader') %>

                    <div class="d-flex">
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-sm" data-feather="search"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
                                <form class="p-3">
                                    <div class="search-box">
                                        <div class="position-relative">
                                            <input type="text" class="form-control rounded" placeholder="Search here...">
                                            <i class="mdi mdi-magnify search-icon"></i>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                       
                      </div>
            
                        <div class="p-3  ">

                            <a class="text-white " href="/admin/logout"><i class='bx bx-log-out text-muted font-size-18 align-middle me-1'></i> <span class="align-middle">Logout</span></a>
                        </div>


                    </div>

                </div>
            </header> 
    


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-flex align-items-center justify-content-between">
                                    <h4 class="mb-0">Users</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Users</a></li>
                                            <li class="breadcrumb-item active">User List</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row align-items-start">
                                            <div class="col-sm-auto">
                                                <div class="d-flex gap-1">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" id="datepicker-range">
                                                        <span class="input-group-text"></span>
                                                    </div>
                                                  
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive mt-4 mt-sm-0">
                                            <table class="table align-middle table-nowrap table-check">
                                                <thead>
                                                    <tr class="bg-transparent">
                                                        <th>Sl.No</th>
                                                        <th>Name</th>
                                                          <th>Email</th>
                                                          <th>Mobile</th>
                                                          <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                <% let serialNumber = 1; %>
                                                  <% user.forEach(data=>{ %>
                                                    <tr>
                                                        <td> <%= serialNumber++; %> </td>
                                                        <td><a href="invoices-detail.html" class="text-dark fw-medium"><%=data.FullName  %></a> </td>
                                                        <td style="width:5px;font-size: 1vw;">
                                                          <%=data.email%>
                                                        </td>
                                                        <td><%=data.mobile%></td>
                                                        
                                                      
                                                  

                                                   <td>
                                                   <% if(data.is_blocked===false){%>
                                                    <button type="button" class="btn btn-danger" id="block<%=data._id%>" onclick="categoryBlock('<%= data._id%>')">
                                                        <i class="bx bx-block font-size-16 align-middle"></i>
                                                    </button>
                                                    <% }else{ %>
                                                    <button type="button" class="btn btn-success" id="block<%=data._id%>" onclick="categoryBlock('<%= data._id%>')">
                                                        <i class="bx bx-check-double font-size-16 align-middle"></i>
                                                    </button>
                                                    <%}%>
                                                </td>
                                                            
                                                  <%  }) %>
                                                </tbody><!-- end tbody -->
                                            </table><!-- end table -->
                                        </div>

                                        <div class="row g-0 text-center text-sm-start">
                                     
                                       
                                            <!-- <div class="col-sm-6">
                                                <ul class="pagination pagination-rounded justify-content-center justify-content-sm-end mb-sm-0">
                                                    <li class="page-item disabled">
                                                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                                                    </li>
                                                    <li class="page-item active">
                                                        <a href="#" class="page-link">1</a>
                                                    </li>
                                                    <li class="page-item ">
                                                        <a href="#" class="page-link">2</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a href="#" class="page-link">3</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a href="#" class="page-link">4</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a href="#" class="page-link">5</a>
                                                    </li>
                                                    <li class="page-item">
                                                        <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                                                    </li>
                                                </ul> -->
                                            <!-- </div> -->
                                        </div><!-- end row -->
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->

                        <!-- Modal -->
                    
            </div> <!-- end slimscroll-menu-->
        </div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="asset/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="asset/libs/metismenujs/metismenujs.min.js"></script>
        <script src="asset/libs/simplebar/simplebar.min.js"></script>
        <script src="asset/libs/feather-icons/feather.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- flatpickr js -->
        <script src="asset/libs/flatpickr/flatpickr.min.js"></script>
        <!-- invoice-list init -->
        <script src="asset/js/pages/invoice-list.init.js"></script>

        <script src="asset/js/app.js"></script>
                        <!-- End Page-content -->

                
                        <%- include('../layouts/adminFooter') %>                              

                    </div>
                    <!-- end main content-->
        
                </div>
                <!-- END layout-wrapper -->
        
                <!-- Right Sidebar -->
                <a href="#" class="right-bar-toggle layout-setting-btn" id="right-bar-toggle">
                    <i class="icon-sm mb-2" data-feather="settings"></i> <span class="align-middle">Settings</span>
                </a>
        
                <div class="right-bar">
                    <div data-simplebar class="h-100">
                        <div class="rightbar-title d-flex align-items-center bg-primary p-3">
        
                            <h5 class="m-0 me-2 text-white">Settings</h5>
        
                            <a href="javascript:void(0);" class="right-bar-toggle-close ms-auto">
                                <i class="mdi mdi-close noti-icon"></i>
                            </a>
                        </div>
        
                        <!-- Settings -->
                        <hr class="m-0" />
        
                        <div class="p-4">
                            <h6 class="mb-3">Choose Layout</h6>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout"
                                    id="layout-vertical" value="vertical">
                                <label class="form-check-label" for="layout-vertical">Vertical</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout"
                                    id="layout-horizontal" value="horizontal">
                                <label class="form-check-label" for="layout-horizontal">Horizontal</label>
                            </div>
        
                            <h6 class="mt-4 mb-3 pt-2">Theme Mode</h6>
        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout-mode"
                                    id="layout-mode-light" value="light">
                                <label class="form-check-label" for="layout-mode-light">Light</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout-mode"
                                    id="layout-mode-dark" value="dark">
                                <label class="form-check-label" for="layout-mode-dark">Dark</label>
                            </div>
        
                            <h6 class="mt-4 mb-3">Layout Width</h6>
        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout-width"
                                    id="layout-width-fluid" value="fluid" onchange="document.body.setAttribute('data-layout-size', 'fluid')">
                                <label class="form-check-label" for="layout-width-fluid">Fluid</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout-width"
                                    id="layout-width-boxed" value="boxed" onchange="document.body.setAttribute('data-layout-size', 'boxed')">
                                <label class="form-check-label" for="layout-width-boxed">Boxed</label>
                            </div>
        
                            <h6 class="mt-4 mb-3">Layout Position</h6>
        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout-position"
                                    id="layout-position-fixed" value="fixed" onchange="document.body.setAttribute('data-layout-scrollable', 'false')">
                                <label class="form-check-label" for="layout-position-fixed">Fixed</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout-position"
                                    id="layout-position-scrollable" value="scrollable" onchange="document.body.setAttribute('data-layout-scrollable', 'true')">
                                <label class="form-check-label" for="layout-position-scrollable">Scrollable</label>
                            </div>
        
                            <h6 class="mt-4 mb-3">Topbar Color</h6>
        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="topbar-color"
                                    id="topbar-color-light" value="light" onchange="document.body.setAttribute('data-topbar', 'light')">
                                <label class="form-check-label" for="topbar-color-light">Light</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="topbar-color"
                                    id="topbar-color-dark" value="dark" onchange="document.body.setAttribute('data-topbar', 'dark')">
                                <label class="form-check-label" for="topbar-color-dark">Dark</label>
                            </div>
        
                            <div id="sidebar-setting">
                                <h6 class="mt-4 mb-3 sidebar-setting">Sidebar Size</h6>
        
                                <div class="form-check sidebar-setting">
                                    <input class="form-check-input" type="radio" name="sidebar-size"
                                        id="sidebar-size-default" value="default" onchange="document.body.setAttribute('data-sidebar-size', 'lg')">
                                    <label class="form-check-label" for="sidebar-size-default">Default</label>
                                </div>
                                <div class="form-check sidebar-setting">
                                    <input class="form-check-input" type="radio" name="sidebar-size"
                                        id="sidebar-size-compact" value="compact" onchange="document.body.setAttribute('data-sidebar-size', 'md')">
                                    <label class="form-check-label" for="sidebar-size-compact">Compact</label>
                                </div>
                                <div class="form-check sidebar-setting">
                                    <input class="form-check-input" type="radio" name="sidebar-size"
                                        id="sidebar-size-small" value="small" onchange="document.body.setAttribute('data-sidebar-size', 'sm')">
                                    <label class="form-check-label" for="sidebar-size-small">Small (Icon View)</label>
                                </div>
        
                                <h6 class="mt-4 mb-3 sidebar-setting">Sidebar Color</h6>
        
                                <div class="form-check sidebar-setting">
                                    <input class="form-check-input" type="radio" name="sidebar-color"
                                        id="sidebar-color-light" value="light" onchange="document.body.setAttribute('data-sidebar', 'light')">
                                    <label class="form-check-label" for="sidebar-color-light">Light</label>
                                </div>
                                <div class="form-check sidebar-setting">
                                    <input class="form-check-input" type="radio" name="sidebar-color"
                                        id="sidebar-color-dark" value="dark" onchange="document.body.setAttribute('data-sidebar', 'dark')">
                                    <label class="form-check-label" for="sidebar-color-dark">Dark</label>
                                </div>
                                <div class="form-check sidebar-setting">
                                    <input class="form-check-input" type="radio" name="sidebar-color"
                                        id="sidebar-color-brand" value="brand" onchange="document.body.setAttribute('data-sidebar', 'brand')">
                                    <label class="form-check-label" for="sidebar-color-brand">Brand</label>
                                </div>
                            </div>
        
                            <h6 class="mt-4 mb-3">Direction</h6>
        
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout-direction"
                                    id="layout-direction-ltr" value="ltr">
                                <label class="form-check-label" for="layout-direction-ltr">LTR</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="layout-direction"
                                    id="layout-direction-rtl" value="rtl">
                                <label class="form-check-label" for="layout-direction-rtl">RTL</label>
                            </div>
                        </div>
        
                    </div> <!-- end slimscroll-menu-->
                </div>
                <!-- /Right-bar -->
        
                <!-- Right bar overlay-->
                <div class="rightbar-overlay"></div>
        
                <!-- JAVASCRIPT -->
                <script src="asset/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="asset/libs/metismenujs/metismenujs.min.js"></script>
                <script src="asset/libs/simplebar/simplebar.min.js"></script>
                <script src="asset/libs/feather-icons/feather.min.js"></script>
        
                <!-- apexcharts -->
                <script src="asset/libs/apexcharts/apexcharts.min.js"></script>
                <!-- Chart JS -->
                <script src="asset/js/pages/chartjs.js"></script>
        
                <script src="asset/js/pages/dashboard.init.js"></script>
        
                <script src="asset/js/app.js"></script>




        <script>
  
            function categoryBlock(id){
                
                Swal.fire({
         title: "Are you sure?",
         text: "You won't be able to revert this!",
         showCancelButton: true,
         confirmButtonColor: "black",
         cancelButtonColor: "#d33",
         confirmButtonText: "Yes!"
         }).then((result) => {
         if (result.isConfirmed) {
         Swal.fire({
         title: "Done!",
         text: "",
         
         });
    


        var btn = document.getElementById("block" + id);
   
   if (btn.classList.contains('btn-danger')) {
               
               btn.classList.remove('btn-danger');
               btn.classList.add('btn-success');
               btn.innerHTML = '<i class="bx bx-check-double font-size-16 align-middle"></i>';
           } else {
               btn.classList.remove('btn-success');
               btn.classList.add('btn-danger');
               btn.innerHTML = '<i class="bx bx-block font-size-16 align-middle"></i>';
           }
    
    
    
    
        let button=document.getElementById(`block${id}`)


  

    fetch('/admin/blockUser',{
                method:"POST",
                headers:{
                  'Content-Type':'application/json'
                },
                body:JSON.stringify({id})
              })
  }
});
           
            }
            

 
            


            </script>
      


    </body>

<!-- Mirrored from themesdesign.in/symox-laravel/layouts/invoices-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 23 Feb 2024 16:07:05 GMT -->
</html>
