

<div class="pro-pagination-style text-center">
    <ul>

        <nav aria-label="Page navigation" >
            <ul class="pagination justify-content-center" >
        
                <% if (locals.currentPage > 1) { %>
        
                    <li class="page-item">
                        <a href="?page=<%= locals.currentPage - 1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
        
                <% } %>
        
                <% for (let i = 1; i <= locals.pages; i++) { %>
        
                    <li class="page-item <%= locals.currentPage === i ? 'active' : '' %>">
                        <a href="?page=<%= i %>"><%= i %></a>
                    </li>
        
                <% } %>
        
                <% if (locals.currentPage < locals.pages) { %>
        
                    <li class="page-item">
                        <a href="?page=<%= locals.currentPage + 1 %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
        
                <% } %>

               
                <li><a href="#"><i class="dlicon arrows-1_tail-right"></i></a></li>
        
            </ul>
        </nav>
    
    </ul>
</div>