<%- include('../layouts/userHeader') %>
<!-- Mirrored from htmldemo.net/toro/toro/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 Mar 2024 15:22:33 GMT -->
<head>
   
    <link rel="shortcut icon" type="image/x-icon" href="/asset/images/favicon.png">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>

    

</head>

<body>

    <!-- return reason form -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
      <!-- return reason form -->

      
   
       
        <div class="breadcrumb-area section-padding-1 bg-gray breadcrumb-ptb-1">
            <div class="container-fluid">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-title">
                        <h2>Order Details</h2>
                    </div>
                    <ul>
                        <li>
                            <a href="/">Home </a>
                        </li>
                        <li><span> &gt; </span></li>
                        <li>
                            <a href="/myAccount">Order </a>
                        </li>
                       
                        <li><span> &gt; </span></li>
                        <li class="active"> Order Details </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- cart start -->
        <div class="cart-main-area pt-90 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        
                        <div class="page-content">
                            <div class="container-fluid">
                               
                                
                                <div class="row d-flex justify-content-center mt-3">
                              
                                    
                                    <div class="col-xl-10">
                                        <div class="card border shadow mb-3" style="border-radius: 0 !important;">
                                            <div class="card-body">
                                                <div class="row d-flex justify-content-sm-between">
                                              <div class="col-md-4">
                                                <p class="text-muted mb-2">Delivery Address</p>
                                            
                                                <h5 class="font-size-16"><%=item.deliverAddress.name %></h5>
                                                <h6 class="font-size-16"><%=item.deliverAddress.addressData %></h6>
                                                <h6 class="font-size-16"><%=item.deliverAddress.city%>, <%=item.deliverAddress.state%>, <%=item.deliverAddress.pincode %></h6>
                                                <br>
                                                <h6 class="font-size-16">Phone Number. <%=item.deliverAddress.mobile %></h6>
                                                


                                              </div>  
                                               <div class="col-md-4">
                                                <p class="text-muted mb-2">More actions</p>
                                                <h6 class="font-size-16">Payment Option: <strong><%=orderData.paymentMethod %></strong></h6>
                                                <br>
                                                <br>
                                                <%if(item.products[0].status==='delivered'){%>
                                                <a href="/invoice/<%= item.products[0]._id %>?order=<%= item._id %>"><i class="ri-file-download-fill"></i>Download Invoice</a>
                                                    <% } %>

                                               </div >
                                               
                                               <div class="col-md-4">
                                                <p class="text-muted mb-2">Status</p>

                                                


                                                <div class="order-status">
                                                 
                                                    <div class="col-md-4">
                                                     

                                                        <% if(item.products[0].status==='returned'){%>
                                                            <h5 class="d-flex justify-content-start">You <span style="color: #fc4f4f; margin: 0 5px;"><b> returned </b></span> the Order</h5>
                                                        
                                                        <% }else if(item.products[0].returnReason!=='None') {%>
                                                            <h5 class="d-flex justify-content-start">Return requested</h5>
                                                            <%}else{%> 
                                                            
                                                                <%if(item.products[0].status==='delivered'){%>
                                                                    <button id="returnButton" class="bg-dark d-flex flex-column" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><a class="mb-2 text-bg-dark" style="width: 6rem;" onclick="returnItem('<%=item.products[0]._id%>')">Return Item</a></button>                                                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="exampleModal" data-whatever="@mdo">Open modal for @mdo</button> -->
                                                               

                                                                <%}else if(item.products[0].status==='cancelled'){%>
                                                                    <h5 class="d-flex justify-content-start">Order Cancelled</h5>
                               
                                                                  
                                                        <%}else if(item.products[0].status!=='cancelled' && item.products[0].status!=='delivered') {%>
                                                            
                                                        <button id="cancelButton" class="btn btn-dark d-flex flex-column" onclick="OrderCancel('<%=item.products[0]._id%>')">Cancel Order</button>
                                                    
                                                            <%}else{%>
                                                                <h5></h5>
                                                           <% }%>

                                                        <%}%>


                                                        <br>
                                                       
                                                       
                                                        
                                                        </div>
                                                  
                                                  </div>
                                                  
                                                        

                                              
                                                </div>


                                                
                                            
                                               
                                               
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-10">
                                        <div class="card border shadow mb-3" style="border-radius: 0 !important;">
                                            <div class="card-body">
                                                <div class="row">
                                              <div class="col-md-4 d-flex align-items-center">
                                                <img src="/static/productImage/<%=item.products[0].productId.image[0] %>" width="100" alt="">
                                                <div class="m-5">
                                                <h5 class="font-size-16"><%=item.products[0].productId.Name %></h5>
                                                <h5 class="font-size-16"><%=item.products[0].quantity%> x ₹ <%=Math.round(item.products[0].productPrice) %></h5>
                                                <% amount=item.products[0].quantity*item.products[0].productPrice %>
                                                <% if(orderData.CoupenOffer>0){%>
                                                    <h5 class="font-size-16"><strong>₹ <%=Math.round(amount-(amount*orderData.CoupenOffer/100)) %></strong></h5>
                                                    <h5 class="font-size-16" style="color: rgb(53, 163, 53);">Coupen applied for this order</h5>                                                   
                                                <%}else{%>
                                                    <h5 class="font-size-16"><strong>₹ <%=Math.round(amount) %></strong></h5>
                                                <%} %>
                                                
                                                 </div>
                                                
                                                


                                              </div>  
                                               <div class="col-md-8 d-flex justify-content-center mt-3 align-items-center">
                                                <!-- <div class="row  "> -->
                                                    <%if(item.products[0].status=='Placed'){%>
                                                    <div class=" col-md-2 order-tracking completed">
                                                        <span class="is-complete"></span>
                                                        <p>Ordered<br><span></span></p>
                                                    </div>
                                                    <div class=" col-md-2 order-tracking">
                                                        <span class="is-complete"></span>
                                                        <p>Shipped<br><span></span></p>
                                                    </div>
                                                    <div class=" col-md-2 order-tracking">
                                                    <span class="is-complete"></span>
                                                    <p>Delivered<br><span></span></p>
                                                    </div>

                                                    <%}else if(item.products[0].status=='shipped'){%>
                                                        <div class=" col-md-2 order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Ordered<br><span></span></p>
                                                        </div>
                                                        <div class=" col-md-2 order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Shipped<br><span></span></p>
                                                        </div>
                                                        <div class=" col-md-2 order-tracking">
                                                        <span class="is-complete"></span>
                                                        <p>Delivered<br><span></span></p>
                                                        </div>
                                                        
                                                    <%}else if(item.products[0].status=='delivered'){%>
                                                        <div class=" col-md-2 order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Ordered<br><span></span></p>
                                                        </div>
                                                        <div class=" col-md-2 order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Shipped<br><span></span></p>
                                                        </div>
                                                        <div class=" col-md-2 order-tracking completed">
                                                        <span class="is-complete"></span>
                                                        <p>Delivered<br><span></span></p>
                                                        </div>

                                                        <%}else if(item.products[0].status=='returned'){%>
                                                            <div class=" col-md-2 order-tracking completed">
                                                                <span class="is-complete"></span>
                                                                <p>Ordered<br><span></span></p>
                                                            </div>
                                                            <div class=" col-md-2 order-tracking completed">
                                                                <span class="is-complete"></span>
                                                                <p>Shipped<br><span></span></p>
                                                            </div>
                                                            <div class=" col-md-2 order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Delivered<br><span></span></p>
                                                            </div>
                                                            
                                                        <div class=" col-md-2 order-tracking completed">
                                                            <span class="is-complete"></span>
                                                            <p>Returned<br><span></span></p>
                                                        </div>

                                                        <%}else{%>
                                                            <div class=" col-md-2 order-tracking">
                                                                <span class="is-complete"></span>
                                                                <p>Ordered<br><span></span></p>
                                                            </div>
                                                            <div class=" col-md-2 order-tracking">
                                                                <span class="is-complete"></span>
                                                                <p>cancelled<br><span></span></p>
                                                            </div>
                                                    <%}%>
                                                    
                                                    
                                                        <!-- <div class=" col-md-2 order-tracking">
                                                        <span class="is-complete"></span>
                                                        <p>Cancelled<br><span></span></p>
                                                    </div>
                                                 
                                                   
                                                    <div class=" col-md-2 order-tracking ">
                                                    <span class="is-complete"></span>
                                                    <p>Returned<br><span></span></p>
                                                    </div>			   -->

                                                     
                                              <!-- </div> -->
                                                
                                                
                                                <!-- <div class="row  ">	
                                                    
                                                     <div class=" col-md-2 order-tracking completed">
                                                        <span class="is-complete"></span>
                                                        <p>Ordered<br><span></span></p>
                                                    </div>
                                                    <div class=" col-md-2 order-tracking">
                                                        <span class="is-complete"></span>
                                                        <p>Shipped<br><span></span></p>
                                                    </div>
                                                    <div class=" col-md-2 order-tracking">
                                                        <span class="is-complete"></span>
                                                        <p>Cancelled<br><span></span></p>
                                                    </div>
                                                 
                                                    <div class=" col-md-2 order-tracking">
                                                    <span class="is-complete"></span>
                                                    <p>Delivered<br><span></span></p>
                                                </div>
                                                <div class=" col-md-2 order-tracking ">
                                                    <span class="is-complete"></span>
                                                    <p>Returned<br><span></span></p>
                                                </div>			   


                                               </div> -->
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                            
    
                                
                            </div>
                        </div>
                    
                    </div>













                        <footer class="footer-area section-padding-1 border-top-3">
                            <div class="container-fluid">
                                <div class="footer-top pt-100 pb-60">
                                    <div class="row">
                                        <div class="footer-column footer-width-24">
                                            <div class="footer-widget footer-about mb-30">
                                                <a href="index.html">
                                                    <img src="/asset/images/logo/logo.png" alt="logo">
                                                </a>
                                                <p>Lorem ipsum dolor sit amet, magna habemus ius ad, qui minimum voluptar</p>
                                                <div class="social-icon-style-2 social-icon-hm4">
                                                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                                                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                                                    <a class="youtube" href="#"><i class="fa fa-youtube"></i></a>
                                                    <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="footer-column footer-width-12">
                                            <div class="footer-widget footer-info-list-2 mb-30">
                                                <h3 class="footer-title">Company Link</h3>
                                                <ul>
                                                    <li><a href="#">About Us</a></li>
                                                    <li><a href="#">Help Center</a></li>
                                                    <li><a href="#">Our Team</a></li>
                                                    <li><a href="#">Privacy Policy</a></li>
                                                    <li><a href="#">The Blog</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="footer-column footer-width-14">
                                            <div class="footer-widget footer-info-list-2 mb-30">
                                                <h3 class="footer-title">Userful Link</h3>
                                                <ul>
                                                    <li><a href="#">Guides & Articles</a></li>
                                                    <li><a href="#">Customer Reviews</a></li>
                                                    <li><a href="#">Coupon Codes</a></li>
                                                    <li><a href="#">Military Discount</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="footer-column footer-width-19">
                                            <div class="footer-widget footer-info-list-2 footer-contect mb-30">
                                                <h3 class="footer-title">Contact info</h3>
                                                <ul>
                                                    <li><i class="dlicon ui-2_time-clock"></i> Monday - Friday: 9:00 - 19:00</li>
                                                    <li><i class="dlicon ui-1_email-83"></i> info@example.com</li>
                                                    <li><i class="dlicon tech-2_rotate"></i> (+612) 2531 5600</li>
                                                    <li><i class="dlicon ui-1_home-simple"></i> PO Box 1622 Colins Street West Victoria 8077 Australia</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="footer-column footer-width-29 mb-30">
                                            <div class="contact-page-map">
                                                <div id="contact-map">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.838709675939!2d144.95320007668528!3d-37.817246734238516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4dd5a05d97%3A0x3e64f855a564844d!2s121%20King%20St%2C%20Melbourne%20VIC%203000%2C%20Australia!5e0!3m2!1sen!2sus!4v1670477011653!5m2!1sen!2sus" style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-botoom">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="copyright-2 text-center">
                                                <p>© 2021 <a href="https://hasthemes.com/">Toro.</a> All rights reserved.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <div class="support-lists">
                            <ul>
                                <li><a href="#"><i class="dlicon ui-3_chat-46"></i></a></li>
                                <li><a href="#"><i class=" dlicon ui-3_phone"></i></a></li>
                                <li><a href="#"><i class="dlicon ui-1_email-85"></i></a></li>
                            </ul>
                        </div>
                       
                    </div>     
                    
                    <style>
                        /* Custom CSS */
                        .swal2-content {
                          font-size: 14px; /* Adjust font size */
                        }
                        
                        .swal2-confirm {
                          background-color: black !important; /* Change button color to black */
                        }
                      </style>
                      
                      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>             
    <!-- Modernizer JS -->
    <script>

        //order cancel
        
        function OrderCancel(cancel){
       
            Swal.fire({
         title: "Are you sure?",
         showCancelButton: true,
         confirmButtonColor: "black",
         cancelButtonColor: "#d33",
         confirmButtonText: "Yes!"
         }).then((result) => {
         if (result.isConfirmed) {
         Swal.fire({
         title: "Done!",
         text: "",
         
         });
         const cancelButton = document.getElementById('cancelButton');
    if (cancelButton) {
        const returnedText = document.createElement('span');
        returnedText.textContent = 'Order Cancelled';
        cancelButton.parentNode.replaceChild(returnedText, cancelButton);
    }

    OrderCancel(productId);
}
})

            fetch('/cancelOrder',{
                method:'POST',
                headers:{
                    'Content-Type':"application/json"
                },body:JSON.stringify({cancel})
            })
          
        }



       // order return

        function returnItem(item){
            console.log(item,'item');
   
            
            Swal.fire({
  text: "Please provide a reason for returning the item",
  input: "text",
  inputAttributes: {
    autocapitalize: "off"
  },
  showCancelButton: true,
  confirmButtonText: "Submit",
  showLoaderOnConfirm: true,
  preConfirm: async (reason) => { 
    try {
      if (!reason) {
        throw new Error('You must provide a reason for returning the item.');
      }
   
      return reason;
    } catch (error) {
      Swal.showValidationMessage(error.message);
    }
  },
  allowOutsideClick: () => !Swal.isLoading()
}).then((result) => {
  if (result.isConfirmed) {
    const reason = result.value;
    
    const returnButton = document.getElementById('returnButton');
    if (returnButton) {
        const returnedText = document.createElement('span');
        returnedText.textContent = 'Return requested';
        returnButton.parentNode.replaceChild(returnedText, returnButton);
    }
    
    fetch('/returnOrder', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ reason,item})

    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to send reason to backend.');
        }

         
    })
    .catch(error => {
      console.error('Error sending reason to backend:', error);
    });

    
    // Optionally, you can show the user some feedback after successfully sending the reason
    Swal.fire({
      title: "Reason submitted!",
      text: "Thank you for providing the reason.",
    });
  }
});

        }





    
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="/asset/js/vendor/modernizr-3.11.7.min.js"></script>
    <!-- jquery -->
    <script src="/asset/js/vendor/jquery-v3.6.0.min.js"></script>
    <!-- Popper JS -->
    <script src="/asset/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="/asset/js/vendor/bootstrap.min.js"></script>
    <script src="/asset/js/plugins/owl-carousel.js"></script>
    <script src="/asset/js/plugins/slick.js"></script>
    <script src="/asset/js/plugins/jarallax.min.js"></script>
    <script src="/asset/js/plugins/countdown.js"></script>
    <script src="/asset/js/plugins/magnific-popup.js"></script>
    <script src="/asset/js/plugins/instafeed.js"></script>
    <script src="/asset/js/plugins/tilt.js"></script>
    <script src="/asset/js/plugins/images-loaded.js"></script>
    <script src="/asset/js/plugins/isotope.js"></script>
    <script src="/asset/js/plugins/scrolloverflow-fullpage.js"></script>
    <script src="/asset/js/plugins/fullpage.js"></script>
    <script src="/asset/js/plugins/jquery-ui.js"></script>
    <script src="/asset/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="/asset/js/plugins/easyzoom.js"></script>
    <script src="/asset/js/plugins/resizesensor.js"></script>
    <script src="/asset/js/plugins/sticky-sidebar.js"></script>
    <script src="/asset/js/plugins/scrollup.js"></script>
    <script src="/asset/js/plugins/select2.min.js"></script>
    <script src="/asset/js/plugins/cookie.js"></script>
    <script src="/asset/js/plugins/bpopup.js"></script>
    <script src="/asset/js/plugins/wow.js"></script>
    <script src="/asset/js/plugins/ajax-mail.js"></script>
    <!-- Main JS -->
    <script src="/asset/js/main.js"></script>
    <style>
	.hh-grayBox {
	background-color: #F8F8F8;
	margin-bottom: 20px;
	padding: 35px;
  margin-top: 20px;
}
.pt45{padding-top:45px;}
.order-tracking{
	text-align: center;
	width: 20.33%;
	position: relative;
	display: block;
}
.order-tracking .is-complete{
	display: block;
	position: relative;
	border-radius: 50%;
	height: 24px;
	width: 24px;
	border: 0px solid #AFAFAF;
	background-color: #393939;
	margin: 0 auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
	z-index: 2;
}
.order-tracking .is-complete:after {
	display: block;
	position: absolute;
	content: '';
	height: 14px;
	width: 7px;
	top: -2px;
	bottom: 0;
	left: 5px;
	margin: auto 0;
	border: 0px solid #AFAFAF;
	border-width: 0px 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
}
.order-tracking.completed .is-complete{
	border-color: #fc4f4f;
	border-width: 0px;
	background-color: #fc4f4f;
}
.order-tracking.completed .is-complete:after {
	border-color: #fff;
	border-width: 0px 3px 3px 0;
	width: 7px;
	left: 11px;
	opacity: 1;
}
.order-tracking p {
	color: #A4A4A4;
	font-size: 16px;
	margin-top: 8px;
	margin-bottom: 0;
	line-height: 20px;
}
.order-tracking p span{font-size: 14px;}
.order-tracking.completed p{color: #000;}
.order-tracking::before {
	content: '';
	display: block;
	height: 3px;
	width: calc(100% - 40px);
	background-color: #393939;
	top: 13px;
	position: absolute;
	left: calc(-50% + 20px);
	z-index: 0;
}
.order-tracking:first-child:before{display: none;}
.order-tracking.completed:before{background-color: #fc4f4f;}

</style>
</body>


<!-- Mirrored from htmldemo.net/toro/toro/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 02 Mar 2024 15:22:33 GMT -->
</html>